<div id="navbar" class="sidenav closebtn" onclick="closeNav()">
    <ul>
        <li class="profil">
            <a class="about-me" href="#about-me" data-toggle="tooltip" title="Mais qui es-tu ?"></a>
        </li>
        <li class="link-1">
            <a class="picto-1" href="#homepage" data-toggle="tooltip" title="Mais qui es-tu ?">
            </a>
        </li>
        <li class="link-2">
            <a class="picto-2" href="#my-skills" data-toggle="tooltip" title="Mes compétences">
            </a>
        </li>
        <li class="link-3">
            <a class="picto-3" href="#my-works" data-toggle="tooltip" title="Mon travail">
            </a>
        </li>
        <li class="link-4">
            <a class="picto-4" href="#history" data-toggle="tooltip" title="Mes expériences">
            </a>
        </li>
        <li class="link-5">
            <a class="picto-5" href="#contact" data-toggle="tooltip" title="Me contacter">
            </a>
        </li>
    </ul>
</div>