<section id="history" class="section-four">
    <div class="timeline">
        <ul>
            <li>
                <div>
                    <time>2016</time>
                    <h1>Balinea</h1>
                    <p>Développeur fullstack</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2015 / 2016</time>
                    <h1>BuddyWeb</h1>
                    <p>Développeur backend</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2015 / 2016</time>
                    <h1>ESIC</h1>
                    <p>Formation webmaster</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2012 / 2015</time>
                    <h1>Pavillon Rouge</h1>
                    <p>Directeur associé</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2000 / 2009</time>
                    <h1>Atelier avec Vue</h1>
                    <p>Chef de fabrication</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2004 / 2006</time>
                    <h1>EDTA Sornas</h1>
                    <p>BTS Design graphique, option communication et média imprimés</p>
                </div>
            </li>
            <li>
                <div>
                    <time>2002 / 2004</time>
                    <h1>Campus Fonderie de l'Image</h1>
                    <p>Bac pro. Artisanat et métiers d'art option visuelle</p>
                </div>
            </li>
        </ul>
    </div>
</section>