<section id="homepage" class="section-one">
    <div class="section-presentation">
        <h1>Frédérick KHAMLA</h1>
        <h2>Développeur web</h2>

        <div class="languages">
            <p>
                <i class="fa fa-html5" aria-hidden="true"></i>
            </p>
            <p>
                <i class="fa fa-css3" aria-hidden="true"></i>
            </p>
            <p>
                <i class="fa fa-wordpress" aria-hidden="true"></i>
            </p>
            <p>
                <i class="fa fa-github" aria-hidden="true"></i>
            </p>
            <p>
                <i class="fa fa-linux" aria-hidden="true"></i>
            </p>
        </div>
    </div>
</section>
