<section id="my-skills" class="section-two">
    <div class="content">
        <div class="skill-title">
            <h2>Mes compétences</h2>
        </div>

        <div class="skills-container">
            <div class="skill-content">
                <p>php</p>
            </div>
            <div class="skill-content">
                <p>symfony 2 / 3</p>
            </div>
            <div class="skill-content">
                <p>Laravel</p>
            </div>
            <div class="skill-content">
                <p>javascript</p>
            </div>
            <div class="skill-content">
                <p>jquery</p>
            </div>
            <div class="skill-content">
                <p>Behat</p>
            </div>
            <div class="skill-content">
                <p>Git</p>
            </div>
            <div class="skill-content">
                <p>Grunt</p>
            </div>

        </div>
    </div>
</section>
