{#viadeo: http://www.viadeo.com/p/002zfeotqi6h5yw#}
{#linkedin: https://fr.linkedin.com/in/frédérick-khamla-55439267#}
{#github: https://github.com/frederickhamla#}

<div class="social">
    <a class="btn social-round profil-viadeo" href=""></a>
    <a class="btn social-round profil-linkedin" href=""></a>
    <a class="btn social-round profil-github" href=""></a>
</div>