//Thank you paletton : http://paletton.com/#uid=53i0u0koxqZ7gSZhoxXtPiQNr5E

//blue
@main: #1E8181;
@main-lighter: #499F9F;
@main-ultra-lighter: #B1E5E5;
@main-darker: #065A5A;
@main-ultra-darker: #001B1B;

//secondary
@green: #28AC28;
@green-lighter: #5FCF5F;
@green-ultra-lighter: #BBF2BB;
@green-darker: #087808;
@green-ultra-darker: #002400;

//third
@blue: #2D4B90;
@blue-lighter: #5A74B0;
@blue-ultra-lighter: #BAC9EA;
@blue-darker: #112A64;
@blue-ultra-darker: #010A1E;

//fourth
@orange: #D77D32;
@orange-lighter: #FFDFC5;
@orange-ultra-lighter: #FFB475;
@orange-darker: #96490A;
@orange-ultra-darker: #2D1400;

@black: #03030A;
@white: #fff;
@dark-blue: 000033;

//grey form-contact - http://paletton.com/#uid=73i0u0k00q500++00Lw06gV3D4L
@grey-blue: #a9a9a9;
@grey-blue-lighter: #f2f7ff;
@grey-blue-darker: #e0ecff;

.colorset(@main) {
  @color-light: lighten(@main, 10%);
  @color-lighter: lighten(@main, 20%);
  @color-lightest: lighten(@main, 25%);
  @color-dark: darken(@main, 10%);
  @color-darker: darken(@main, 20%);
  @color-darkest: darken(@main, 25%);
}
