<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Frédérick KHAMLA</title>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/shag/css/styles.css') }}">
</head>
<body>
    <div id="navbar" class="sidenav closebtn" onclick="closeNav()">
        <ul>
            <li>
                <a href="#about-me" data-toggle="tooltip" title="Mais qui es-tu ?">
                    <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#my-skills" data-toggle="tooltip" title="Ce que je sais faire">
                    <i class="fa fa-superpowers" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#my-works" data-toggle="tooltip" title="Mes travaux">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                </a>
            </li>
            <li>
                <a href="#contact" data-toggle="tooltip" title="Me contacter">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>

    <div class="main">
        <div class="header">
            <i class="fa fa-bars" aria-hidden="true" onclick="openNav()"></i>
        </div>

        <div id="about-me" class="section-one">
            <div class="section-presentation">
                <h1>Frédérick KHAMLA</h1>
                <h2>Développeur web</h2>

                <div class="languages">
                    <p>
                        <i class="fa fa-html5" aria-hidden="true"></i>
                    </p>
                    <p>
                        <i class="fa fa-css3" aria-hidden="true"></i>
                    </p>
                    <p>
                        <i class="fa fa-wordpress" aria-hidden="true"></i>
                    </p>
                    <p>
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </p>
                    <p>
                        <i class="fa fa-linux" aria-hidden="true"></i>
                    </p>
                </div>
            </div>
        </div>

        <div id="my-skills" class="section-two">
            <div class="skill-title">
                <h2>Mes compétences</h2>
            </div>

            <div class="skillbar clearfix " data-percent="20%">
                <div class="skillbar-title"><span>HTML5</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">20%</div>
            </div>
            <div class="skillbar clearfix " data-percent="50%">
                <div class="skillbar-title"><span>PHP</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="30%">
                <div class="skillbar-title"><span>JAVASCRIPT</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="28%">
                <div class="skillbar-title"><span>SYMFONY</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="66%">
                <div class="skillbar-title"><span>GIT</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="82%">
                <div class="skillbar-title"><span>LARAVEL</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
            <div class="skillbar clearfix " data-percent="37%">
                <div class="skillbar-title"><span>WORDPRESS</span></div>
                <div class="skillbar-bar"></div>
                <div class="skill-bar-percent">50%</div>
            </div>
        </div>

        <div id="my-works" class="section-three">
            MES REALISATIONS
        </div>

        <div id="contact" class="section-four">
            ME CONTACTER
        </div>

    </div>

    {#livereload#}
    <script src="//localhost:35729/livereload.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://use.fontawesome.com/0177ad92ba.js"></script>
    <script src="{{ asset('bundles/shag/js/build.js') }}"></script>
</body>
</html>
