<section id="my-works" class="section-three">
    <div class="grid">
        {#<div class="grid-image grid-1" onclick="location.href='https://www.balinea.com';"></div>#}
        {#<div class="grid-image grid-2" onclick="location.href='http://www.sanofi.fr/l/fr/fr/index.jsp';"></div>#}
        {#<div class="grid-image grid-3" onclick="location.href='http://www.enedis.fr/';"></div>#}
        {#<div class="grid-image grid-4" onclick="location.href='http://www.brjavocats.com/';"></div>#}
        {#<div class="grid-image grid-5" onclick="location.href='http://www.beninmacontribution.com/';"></div>#}
        <div class="section-grid">
            <div class="grid-image grid-1"></div>
            <div class="grid-image grid-2"></div>
            <div class="grid-image grid-3"></div>
        </div>
        <div class="section-grid">
            <div class="grid-image grid-4"></div>
            <div class="grid-image grid-5"></div>
        </div>
    </div>
</section>